.navbar-custom {
    background-color: #373a6d;
}

.navbar-brand-custom {
    font-size: 40px;
    font-weight: bolder;
    padding-top: 5px;
}

.navbar-custom .navbar-brand-custom {
    color: rgba(255,255,255,.8);
}

a.navbar-brand-custom {
    padding: 0px;
    margin-left: 10%;
    margin-right: 10%;
}